.edit-tag {
    user-select: none;
    background-color: #eeeeee;
    width: 78px;
    text-align: center;
}
.site-tag-plus {
    width: 78px;
}
.tag-input {
    width: 78px;
    margin-right: 8px;
    vertical-align: top;
}
